 TASK-9A: Please apply the following feature engineering steps on the numeric features of the AD dataset.

 Divide by NACCBRNV (MRI)
 Multiply by NACCAGEB

In [48]:
import pandas as pd
import numpy as np

data = pd.read_excel("Temporary_data3_Left_Right_Copy.xlsx")
data.head()

,SEX,EDUC,MARISTAT,INDEPEND,RESIDENC,NACCFAM,ANYMEDS,SMOKYRS,NACCTBI,DIABETES,...,RSUPFR,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM
0,2,18,1,1,1,1,1,0,0,0,...,27.9038,2.2157,10.3481,1.7014,13.4250,1.7419,9.8700,1.6792,0.8906,1.1947
1,1,11,1,1,1,1,1,0,0,0,...,29.0600,2.6900,9.2500,1.6300,14.8800,2.3000,7.2700,1.8900,1.3800,2.0300
2,2,16,1,1,1,1,1,10,0,1,...,33.0000,2.5400,13.6900,1.5600,16.2300,2.0700,10.1100,1.8400,1.0100,1.5000
3,1,14,1,1,1,0,1,0,0,1,...,31.6800,2.4100,9.6400,1.4500,15.1100,1.6400,10.3900,1.8300,0.7400,1.1000
4,1,16,1,1,2,0,1,50,0,0,...,28.0631,1.9501,9.1125,1.0427,13.3763,1.6270,7.5844,1.4595,0.6638,0.8527

In [49]:
maske = ['float64']
data_new = data.select_dtypes(include=maske)
data_new

,NACCBMI,NACCICV,NACCBRNV,NACCWMVL,CSFVOL,GRAYVOL,WHITEVOL,WMHVOL,CEREALL,CERETISS,...,RSUPFR,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM
0,25.1,1399.056,1118.929,481.802,279.718,637.536,481.393,0.4088,1189.23,952.446,...,27.9038,2.2157,10.3481,1.7014,13.4250,1.7419,9.8700,1.6792,0.8906,1.1947
1,30.3,1578.180,1107.680,477.910,468.740,631.530,476.150,1.7600,1382.83,975.620,...,29.0600,2.6900,9.2500,1.6300,14.8800,2.3000,7.2700,1.8900,1.3800,2.0300
2,23.2,1455.550,1187.760,527.470,266.410,661.670,526.090,1.3800,1247.03,1035.400,...,33.0000,2.5400,13.6900,1.5600,16.2300,2.0700,10.1100,1.8400,1.0100,1.5000
3,30.4,1494.650,1115.330,478.960,376.840,638.850,476.480,2.4800,1248.03,965.820,...,31.6800,2.4100,9.6400,1.4500,15.1100,1.6400,10.3900,1.8300,0.7400,1.1000
4,20.8,1494.067,1014.743,444.578,471.128,578.361,436.382,8.1956,1281.46,885.615,...,28.0631,1.9501,9.1125,1.0427,13.3763,1.6270,7.5844,1.4595,0.6638,0.8527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,27.8,1472.904,1141.103,519.282,329.904,623.718,517.385,1.8967,1255.75,989.959,...,24.6892,2.6528,10.5460,2.1712,14.1128,2.8833,9.3176,2.3582,0.6735,1.0270
1350,28.3,1723.724,1192.320,535.784,521.124,666.816,525.504,10.2797,1478.48,1026.640,...,24.7908,2.0993,10.4094,1.4855,10.7880,1.9027,10.2034,2.0484,0.7267,0.7946
1351,25.8,1450.360,1068.170,449.420,373.560,627.380,440.790,8.6300,1232.13,918.530,...,23.8500,2.1200,12.3900,1.5300,12.6600,1.9900,9.4800,1.7400,1.1800,1.5900
1352,44.2,1528.400,1105.820,487.800,391.970,648.630,457.190,30.6100,1327.44,995.230,...,31.3500,2.4300,10.8200,1.7000,13.7700,2.1000,11.1200,2.1400,1.3100,1.5200
1353,21.3,1286.170,996.810,424.920,279.550,581.700,415.110,9.8100,1094.17,863.900,...,21.9900,2.4100,9.8900,1.7600,13.9600,2.2000,9.9600,1.8600,0.8300,1.6500

In [50]:
Naccbrnv = data["NACCBRNV"]
Naccageb = data["NACCAGEB"]

data_new = data_new.div(Naccbrnv, axis=0) #divide by
data_new = data_new.mul(Naccageb, axis=0) #multiple by
data_new

,NACCBMI,NACCICV,NACCBRNV,NACCWMVL,CSFVOL,GRAYVOL,WHITEVOL,WMHVOL,CEREALL,CERETISS,...,RSUPFR,RSUPFRM,RSUPPAR,RSUPPARM,RSUPTEM,RSUPTEMM,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM
0,1.256201,70.019756,56.0,24.113158,13.999287,31.907311,24.092689,0.020460,59.518414,47.667882,...,1.396525,0.110891,0.517900,0.085151,0.671892,0.087178,0.493972,0.084040,0.044573,0.059792
1,1.778041,92.609508,65.0,28.044336,27.506229,37.058943,27.941057,0.103279,81.146134,57.250560,...,1.705276,0.157852,0.542801,0.095650,0.873176,0.134967,0.426612,0.110907,0.080980,0.119123
2,1.132889,71.076564,58.0,25.757106,13.009177,32.310282,25.689718,0.067387,60.894238,50.560046,...,1.611437,0.124032,0.668502,0.076177,0.792534,0.101081,0.493686,0.089850,0.049320,0.073247
3,1.962469,96.486959,72.0,30.919208,24.326863,41.240888,30.759112,0.160096,80.566433,62.348399,...,2.045099,0.155577,0.622309,0.093605,0.975424,0.105870,0.670725,0.118135,0.047771,0.071010
4,1.680820,120.733520,82.0,35.925743,38.071212,46.736565,35.263435,0.662275,103.553038,71.565342,...,2.267741,0.157585,0.736369,0.084259,1.080921,0.131476,0.612885,0.117940,0.053641,0.068906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,1.632280,86.481736,67.0,30.489705,19.370353,36.621677,30.378323,0.111365,73.731512,58.125562,...,1.449629,0.155759,0.619210,0.127482,0.828635,0.169293,0.547084,0.138462,0.039545,0.060300
1350,1.590261,96.861168,67.0,30.107293,29.283504,37.470370,29.529630,0.577647,83.080180,57.689949,...,1.393069,0.117966,0.584935,0.083475,0.606210,0.106918,0.573359,0.115106,0.040835,0.044651
1351,1.642435,92.330322,68.0,28.610202,23.780934,39.939186,28.060814,0.549388,78.437739,58.473876,...,1.518298,0.134960,0.788751,0.097400,0.805939,0.126684,0.603499,0.110769,0.075119,0.101220
1352,2.997775,103.660632,75.0,33.084046,26.584571,43.992015,31.007985,2.076061,90.030927,67.499457,...,2.126250,0.164810,0.733845,0.115299,0.933922,0.142428,0.754191,0.145141,0.088848,0.103091
1353,1.495772,90.320021,70.0,29.839588,19.631123,40.849309,29.150691,0.688898,76.837010,60.666526,...,1.544226,0.169240,0.694516,0.123594,0.980327,0.154493,0.699431,0.130617,0.058286,0.115870

###  TASK-9B: Please apply Gaussian Naive Bayes algorithm on the numeric values (after the transformation) to predict the CDRGLOB values (class-based). Train-test split, train by grid search (k=5) and optimize for the parameter values.

In [51]:
from sklearn.model_selection import train_test_split

Cdrglob= data["CDRGLOB"]
X_train, X_test, y_train, y_test = train_test_split(data_new, Cdrglob, test_size=0.2, random_state=42)

In [52]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)
y_predicted = model.predict(X_test)

In [53]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_predicted)

0.5055350553505535

In [54]:
from sklearn.model_selection import GridSearchCV
param_grid = {'var_smoothing': np.logspace(0,-9, num=100)}
grid = GridSearchCV(model, param_grid, cv=5, scoring='accuracy')
grid.fit(X_train, y_train)

print("Best parameter: ", grid.best_params_)
print("Score: ",grid.score(X_test, y_test))

Best parameter:  {'var_smoothing': 1.0}
Score:  0.5276752767527675

###  TASK-9C: Please apply a one-hot encoding method on the categorical data of the AD dataset.

In [84]:
list1=[]
A=data.iloc[0:,:37]
for col in A.columns:
    list1.append(col)
list1

['SEX',
 'EDUC',
 'MARISTAT',
 'INDEPEND',
 'RESIDENC',
 'NACCFAM',
 'ANYMEDS',
 'SMOKYRS',
 'NACCTBI',
 'DIABETES',
 'ALCOHOL',
 'HXHYPER',
 'HYPERCHO',
 'HXSTROKE',
 'FOCLSIGN',
 'HACHIN',
 'CDRGLOB',
 'DEL',
 'HALL',
 'AGIT',
 'DEPD',
 'ANX',
 'ELAT',
 'APA',
 'DISN',
 'IRR',
 'MOT',
 'NITE',
 'APP',
 'NACCGDS',
 'DROPACT',
 'NACCMMSE',
 'NACCAGEB',
 'NACCAMD',
 'NACCBMI',
 'NACCAPOE',
 'NACCNE4S']

In [85]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoded_data = pd.get_dummies(data, columns =list1)
encoded_data

,NACCICV,NACCBRNV,NACCWMVL,CSFVOL,GRAYVOL,WHITEVOL,WMHVOL,CEREALL,CERETISS,CERECSF,...,NACCBMI_48.8,NACCAPOE_1,NACCAPOE_2,NACCAPOE_3,NACCAPOE_4,NACCAPOE_5,NACCAPOE_6,NACCNE4S_0,NACCNE4S_1,NACCNE4S_2
0,1399.056,1118.929,481.802,279.718,637.536,481.393,0.4088,1189.23,952.446,236.781,...,0,0,0,1,0,0,0,1,0,0
1,1578.180,1107.680,477.910,468.740,631.530,476.150,1.7600,1382.83,975.620,407.210,...,0,1,0,0,0,0,0,1,0,0
2,1455.550,1187.760,527.470,266.410,661.670,526.090,1.3800,1247.03,1035.400,211.630,...,0,1,0,0,0,0,0,1,0,0
3,1494.650,1115.330,478.960,376.840,638.850,476.480,2.4800,1248.03,965.820,282.210,...,0,1,0,0,0,0,0,1,0,0
4,1494.067,1014.743,444.578,471.128,578.361,436.382,8.1956,1281.46,885.615,395.844,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,1472.904,1141.103,519.282,329.904,623.718,517.385,1.8967,1255.75,989.959,265.789,...,0,1,0,0,0,0,0,1,0,0
1350,1723.724,1192.320,535.784,521.124,666.816,525.504,10.2797,1478.48,1026.640,451.844,...,0,1,0,0,0,0,0,1,0,0
1351,1450.360,1068.170,449.420,373.560,627.380,440.790,8.6300,1232.13,918.530,313.600,...,0,1,0,0,0,0,0,1,0,0
1352,1528.400,1105.820,487.800,391.970,648.630,457.190,30.6100,1327.44,995.230,332.210,...,0,1,0,0,0,0,0,1,0,0
1353,1286.170,996.810,424.920,279.550,581.700,415.110,9.8100,1094.17,863.900,230.270,...,0,0,0,0,1,0,0,0,0,1

### TASKâ€“9D: Please apply Multinomial Naive Bayes algorithms on the one-hot encoded categorical data of the AD dataset and predict the labels (CDRGLOB).

In [88]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
Xtrain, Xtest, Ytrain,Ytest = train_test_split(encoded_data, Cdrglob, test_size=0.2, random_state=25)
predictions = model.fit(Xtrain, Ytrain).predict(Xtest)
accuracy_score(Ytest, predictions)

0.6863468634686347

###  TASK-9E: Please merge the normalized numeric values and one-hot encoded categorical values and then apply the following regression methods (Linear, Ridg and Lasso) to predict the labels as numeric values. Please do not forget to optimize them and use R2 for scoring.

In [89]:
data_merged=pd.merge(data,encoded_data)
data_merged.head()

,SEX,EDUC,MARISTAT,INDEPEND,RESIDENC,NACCFAM,ANYMEDS,SMOKYRS,NACCTBI,DIABETES,...,NACCBMI_48.8,NACCAPOE_1,NACCAPOE_2,NACCAPOE_3,NACCAPOE_4,NACCAPOE_5,NACCAPOE_6,NACCNE4S_0,NACCNE4S_1,NACCNE4S_2
0,2,18,1,1,1,1,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,1,11,1,1,1,1,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
2,2,16,1,1,1,1,1,10,0,1,...,0,1,0,0,0,0,0,1,0,0
3,1,14,1,1,1,0,1,0,0,1,...,0,1,0,0,0,0,0,1,0,0
4,1,16,1,1,2,0,1,50,0,0,...,0,1,0,0,0,0,0,1,0,0

In [91]:
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso

X = data_merged.drop(columns="CDRGLOB")

Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Cdrglob, test_size=0.2, random_state=0)

linear_model = LinearRegression()
linear_predicted = linear_model.fit(Xtrain,Ytrain).predict(Xtest)

print("Linear score :",r2_score(Ytest, linear_predicted))

ridge_model = Ridge(alpha=0.1)
ridge_predicted = ridge_model.fit(Xtrain,Ytrain).predict(Xtest)

print("Ridge score : ",r2_score(Ytest, ridge_predicted))

lasso_model = Lasso(alpha=0.1)
lasso_predicted = lasso_model.fit(Xtrain,Ytrain).predict(Xtest)

print("Lasso score : ",r2_score(Ytest, lasso_predicted))

Linear score : 0.9999999999641468
Ridge score :  0.9999641522464437
Lasso score :  0.7606890474159712

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.150e+00, tolerance: 7.148e-02
  model = cd_fast.enet_coordinate_descent(

### TASK-9F: Please find and apply the classification versions of the following algorithms (Linear, Ridge and Lasso) with the hyperparameter optimization.

In [92]:
model = LinearRegression()
linear = {   "fit_intercept": [True, False],
             "positive": [True, False]}
l_gr = GridSearchCV(LinearRegression(), linear, cv=5)
l_gr.fit(Xtrain, Ytrain)
print("Score",l_gr.best_score_)

Score 1.0

In [93]:
model = Ridge()
ridge = {    "fit_intercept": [True, False],
             "positive": [True, False]}
r_gr = GridSearchCV(model, ridge, cv=5)
r_gr.fit(Xtrain, Ytrain)
print("Score",r_gr.best_score_)

Score 0.9968208085211743

In [94]:
model = Lasso()
lasso = {    "fit_intercept": [True, False],
             "positive": [True, False],
           "precompute": [True, False]}
l_gr = GridSearchCV(model,lasso, cv=5)
l_gr.fit(Xtrain, Ytrain)
print("Score",l_gr.best_score_)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 124.58761424422977, tolerance: 0.10250000000000001
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 124.20887705910357, tolerance: 0.10300000000000001
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 124.78378416188258, tolerance: 0.10650000000000001
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 111.07450789051353, tolerance: 0.09670000000000001
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:633: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 115.53960790941363, tolerance: 0.0985
  model = cd_fast.enet_coordinate_descent_gram(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.246e+02, tolerance: 1.025e-01
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.242e+02, tolerance: 1.030e-01
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.248e+02, tolerance: 1.065e-01
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.111e+02, tolerance: 9.670e-02
  model = cd_fast.enet_coordinate_descent(

Score 0.4774722287725173

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.155e+02, tolerance: 9.850e-02
  model = cd_fast.enet_coordinate_descent(